.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: 10px solid black;
  border-radius: 3px;
}

.display {
  grid-column: 1 / 5;
  grid-row: 1;
  height: 100px;
  padding: 0;
  font-size: 50px;
  font-weight: bolder;
  overflow: hidden;
  text-align: right;
}

#equals {
  width: 400px;
}

.grid-item {
  border: 5px solid black;
}
